/* === GENERAL STYLES === */

:root {
  --main-black: rgb(25, 25, 35);
  --main-background: #E9EAEC;
  --navbar-grey: #CBCCCC;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", sans-serif;
}

/* === FRONT PAGE === */

.frontpage-container {
  width: 100%;
  height: 100vh;
  background: url('/images/background1.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navbar mobile */

.hamburger {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 50px;
  left: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}

.line {
  width: 100%;
  height: 5px;
  background-color: var(--main-black);
}

.nav-links {
  width: 60vw;
  height: 100vh;
  background-color: var(--navbar-grey);
  position: fixed;
  top: 0px;
  left: -60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 10% 50% 0;
  transition: left 0.4s ease-in;
}

.change {
  left: 0vw;
}

.nav-item {
  list-style: none;
  margin: 25px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--main-black);
  letter-spacing: 2px;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Name container */

.name-container {
  text-align: center;
  font-size: 1.5rem;
}

.name {
  text-transform: uppercase;
  font-size: 2rem;
}

/* ABOUT ME */

#about-me {
  width: 100%;
  height: 100vh;
  background: var(--main-background) center no-repeat;
  background-size: cover;
}

/* TECH STACK */

#tech-stack {
  width: 100%;
  min-height: 100vh;
  background: var(--main-background) center no-repeat;
  background-size: cover;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: 
      ". txt txt ."
      ". html html ."
      ". css css ."
      ". js js ."
      ". git git ."
      ". node node ."
  ;
}

.tech {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech img {
  width: 80%;
}

.txt {
  background-color: var(--navbar-grey);
  grid-area: txt;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
}

.html {
  grid-area: html;
}

.css {
  grid-area: css;
}

.js {
  grid-area: js;
}

.node {
  grid-area: node;
}

.git {
  grid-area: git;
}

/* PROJECTS */

#projects {
  width: 100%;
  height: 100vh;
  background: var(--main-background) center no-repeat;
  background-size: cover;
}

/* CONTACT ME */

#contact-me {
  width: 100%;
  height: 100vh;
  background: var(--main-background) center no-repeat;
  background-size: cover;
}

/* FOOTER */

footer {
  height: 10vh;
  background-color: var(--main-black);
  color: var(--main-background);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

/* MEDIA QUERIES */

/* tablet view */

@media (min-width: 768px) {

  .hamburger {
    top: 50px;
    left: 50px;
  }

  .nav-links {
    width: 40vw;
  }

  #tech-stack {
    height: 100vh;
    grid-template-areas: 
      ". txt txt ."
      ". html css ."
      ". js node ."
      ". git . ."
      ". . . .";
    gap: 20px;
  }

  .txt {
    margin-top: 100px;
  }

}


/* desktop view */

@media (min-width: 1024px) {

  #tech-stack {
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      ". txt txt txt ."
      "html css js git node"
      ". . . . ."
    ;
  }

  .tech img {
    width: 60%;
  }

}