/*Variables*/

:root {
  --primary: #4E4B61;
  --light: #FFEAEC;
  --dark: #E3817E;
  --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

/*Base Styles*/

html {
  box-sizing: border-box;
  font-family: 'Poppins', Helvetica, sans-serif;
  color: var(--light);
}

body {
  background: var(--primary);
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

img {
  max-width: 100%;
}

.frontpage-container {
  background: url('/images/background3.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: #FFEAEC;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

/* NAVIGATION */

.list {
  display: grid;
  background-color: rgba(205, 198, 198, 0.3);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  position: fixed;
  width: 100%;
}

.list li {
  padding: 3rem 0;
  font-size: 1.2rem; 
  text-align: center;
  display: block;
}

.list li:hover {
  background-color: rgba(185, 180, 180, 0.2);
  color: var(--primary);
}

/*Header*/

.header {
  background-color: rgba(72, 77, 109, 0.8);
  display: block;
}

.header img {
  width: 15vw;
  border-radius: 50%;
}

/* About Me */

.about-me {
  background: var(--dark);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: rgba(255, 255, 255, 0.7); 
}