/* === GENERAL STYLES === */

:root {
  --main-black: rgb(25, 25, 35);
  --main-background: #E9EAEC;
  --navbar-grey: #CBCCCC;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", sans-serif;
}

/* === FRONT PAGE === */

.frontpage-container {
  width: 100%;
  height: 100vh;
  background: url('/images/background1.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navbar mobile */

.hamburger {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 50px;
  left: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}

.line {
  width: 100%;
  height: 5px;
  background-color: var(--main-black);
}

.nav-links {
  border: 1px solid grey;
  width: 60vw;
  height: 100vh;
  background-color: var(--navbar-grey);
  position: fixed;
  top: 0px;
  left: -60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 10% 50% 0;
  transition: left 0.4s ease-in;
}

.change {
  left: 0vw;
}

.nav-item {
  list-style: none;
  margin: 25px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--main-black);
  letter-spacing: 2px;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Name container */

.name-container {
  text-align: center;
  font-size: 1.5rem;
}

.name {
  text-transform: uppercase;
  font-size: 2rem;
}

/* ABOUT ME */

#about-me {
  width: 100%;
  height: 100vh;
  background: var(--main-background) center no-repeat;
  background-size: cover;
}

/* TECH STACK */

#tech-stack {
  width: 100%;
  height: 100vh;
  background: var(--main-background) center no-repeat;
  background-size: cover;
}

/* PROJECTS */

#projects {
  width: 100%;
  height: 100vh;
  background: var(--main-background) center no-repeat;
  background-size: cover;
}

/* CONTACT ME */

#contact-me {
  width: 100%;
  height: 100vh;
  background: var(--main-background) center no-repeat;
  background-size: cover;
}

/* FOOTER */

footer {
  height: 10vh;
  background-color: var(--main-black);
  color: var(--main-background);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
